#
!Software Version V200R019C00SPC500
sysname CAMPUS-SW-A01
#
vlan batch 10 to 12 20 30 99
#
stp mode rstp
stp instance 0 root secondary
#
dhcp enable
#
vlan 10
 name USERS_A
#
vlan 20
 name VOICE
#
vlan 99
 name MGMT
#
aaa
 local-user admin password irreversible-cipher $1c$K"lE9#|~@'$g<}wSLzj*Xm
 local-user admin privilege level 15
 local-user admin service-type telnet ssh
#
interface Vlanif99
 description MANAGEMENT
 ip address 10.99.2.11 255.255.255.0
#
interface GigabitEthernet0/0/1
 description UPLINK-CORE
 port link-type trunk
 undo port trunk allow-pass vlan 1
 port trunk allow-pass vlan 10 to 12 20 30 99
 port trunk pvid vlan 99
 undo shutdown
#
interface GigabitEthernet0/0/2
 description AP-A-01
 port link-type trunk
 port trunk allow-pass vlan 10 20
#
interface GigabitEthernet0/0/20
 description USER-PORT
 port link-type access
 port default vlan 10
 stp edged-port enable
#
interface XGigabitEthernet0/0/1
 description 10G-UPLINK
 port link-type trunk
 port trunk allow-pass vlan 10 to 12
#
interface Eth-Trunk1
 description LAG-TO-DIST
 port link-type trunk
 port trunk allow-pass vlan 10 to 12 99
#
ip route-static 0.0.0.0 0.0.0.0 10.99.2.1
#
snmp-agent community read cipher %^%#abc
snmp-agent sys-info location BUILDING-A
#
ntp-service unicast-server 10.99.1.5
#
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
#
return
